<h1>Listing app_dictionary_entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @app_dictionary_entries.each do |app_dictionary_entry| %>
      <tr>
        <td><%= app_dictionary_entry.name %></td>
        <td><%= link_to 'Show', app_dictionary_entry %></td>
        <td><%= link_to 'Edit', edit_app_dictionary_entry_path(app_dictionary_entry) %></td>
        <td><%= link_to 'Destroy', app_dictionary_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App dictionary entry', new_app_dictionary_entry_path %>
