<%- model_class = AppDictionaryEntry -%>
<div class="page-header">
  <h1><%=t '.title', :default => AppDictionaryEntry %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @app_dictionary_entries.each do |app_dictionary_entry| %>
      <tr>
        <td><%= app_dictionary_entry.id %></td>
        <td><%= app_dictionary_entry.name %></td>
        <td><%=l app_dictionary_entry.created_at, format: :long %></td>
        <td>
          <%= link_to app_dictionary_entry_path(app_dictionary_entry), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to app_dictionary_entry_path(app_dictionary_entry), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_app_dictionary_entry_path,
            :class => 'btn btn-primary' %>
